@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject CustomAuthenticationStateProvider CustomAuthStateProvider

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            @if (authenticationState != null && authenticationState.User.Identity.IsAuthenticated)
            {
                <p>Hello, @authenticationState.User.Identity.Name!</p>
                <button class="btn btn-primary" @onclick="Logout">Wyloguj się</button>
            }
            else
            {
                <p>Nie jesteś zalogowany!</p>
            }
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    private AuthenticationState authenticationState;

    protected override async Task OnInitializedAsync()
    {
        authenticationState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
    }

    private async Task Logout()
    {
        await CustomAuthStateProvider.LogoutAsync();
    }
}
