@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Authorization
@inject CustomAuthenticationStateProvider CustomAuthStateProvider
@inject NavigationManager NavigationManager


<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            @if (authenticationState != null && authenticationState.User.Identity.IsAuthenticated)
            {
                <a>Witaj @authenticationState.User.Identity.Name!</a>
                <button class="btn btn-primary" style="margin-left: 10px" @onclick="Logout">Wyloguj się</button>
            }
            else
            {
                <a href="/login">Zaloguj</a>
            }
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    private AuthenticationState authenticationState;

    protected override async Task OnInitializedAsync()
    {
        authenticationState = await CustomAuthStateProvider.GetAuthenticationStateAsync();
        CustomAuthStateProvider.AuthenticationStateChanged += _ => StateHasChanged();
    }

    private async Task Logout()
    {
        await CustomAuthStateProvider.LogoutAsync();
        NavigationManager.NavigateTo("/", true);
    }
}
