@page "/homepage"

<div class="container mt-5">
    <div class="row justify-content-center align-items-center">

        <div class="col-md-3 mb-4 d-flex justify-content-center">
            <a href="/account" class="d-block text-center button-style fixed-width rounded py-5">
                <div class="photo mb-2">
                    <img src="Icons/loginicon.png" alt="Rent Icon" style="width: 100px; height: 100px;">
                </div>
                <h5 class="button-text">Moje konto</h5>
            </a>
        </div>
        
        <div class="col-md-3 mb-4 d-flex justify-content-center">
            <a href="/rent" class="d-block text-center button-style fixed-width rounded py-5">
                <div class="photo mb-2">
                    <img src="Icons/caricon.png" alt="Rent Icon" style="width: 100px; height: 100px;">
                </div>
                <h5 class="button-text">Wypożyczanie</h5>
            </a>
        </div>

        <div class="col-md-3 mb-4 d-flex justify-content-center">
            <a href="/reservations" class="d-block text-center button-style fixed-width rounded py-5">
                <div class="photo mb-2">
                    <img src="Icons/listicon.png" alt="Reservations Icon" style="width: 100px; height: 100px;">
                </div>
                <h5 class="button-text">Moje rezerwacje</h5>
            </a>
        </div>
    </div>
</div>

@code {
    
}